blinker
certifi
cffi
charset-normalizer
click
cryptography
Faker
Flask
idna
itsdangerous
Jinja2
MarkupSafe
numpy
oracledb
pandas
pycparser
python-dateutil
python-dotenv
pytz
requests
six
sqlparse
typing_extensions
tzdata
urllib3
Werkzeug
